<% if @post.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this @post from being saved:</h2>

      <ul>
        <% @post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>