<style>
	img{
		width:500px;
		height:400px;
	}
</style>
<div class="container">
	<%= image_tag 'https://plus.unsplash.com/premium_photo-1671717725132-5eacbfd6abd2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80' %>
	<h1 style="text-align:center" class="my-3"> About me</h1>
	<%= link_to "home",root_path ,class:"btn btn-primary"%>
</div>